.tile {
  padding:10px;
  width: 120px;
}

.tile.selected {
  background: yellow;
}

.shape {
  background-size: 100% auto;
  width: 100px;
  height: 100px;
}

.shape.blackhole {
  background-image: url( '../img/TexTile_Shapes__0000_X.png' );
}

.shape.red.square {
  background-image: url( '../img/TexTile_Shapes__0004_PurpleSquare.png' );
}

.shape.red.circle {
  background-image: url( '../img/TexTile_Shapes__0005_PurpleCircle.png' );
}

.shape.red.triangle {
  background-image: url( '../img/TexTile_Shapes__0006_PurpleTriangle.png' );
}

.shape.blue.square {
  background-image: url( '../img/TexTile_Shapes__0001_BlueSquare.png' );
}

.shape.blue.circle {
  background-image: url( '../img/TexTile_Shapes__0002_BlueCircle.png' );
}

.shape.blue.triangle {
  background-image: url( '../img/TexTile_Shapes__0003_BlueTriangle.png' )
}

.shape.green.square {
  background-image: url( '../img/TexTile_Shapes__0007_GreenSquare.png' );
}

.shape.green.circle {
  background-image: url( '../img/TexTile_Shapes__0008_GreenCircle.png' );
}

.shape.green.triangle {
  background-image: url( '../img/TexTile_Shapes__0009_GreenTriangle.png' );
}


#scoreContainer {
  padding: 20px 0;
}

#scoreContainer .active {
  font-weight: bold;
}

#scoreContainer .player {
  font-size: 24px;
}

#boardContainer table {
  border-collapse: collapse;
}

#boardContainer td {
  height: 120px;
  width: 120px;
  border: solid 3px lightgrey;
}

